
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #000000;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #000000;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #020202;
  border-top-color: #e7e4fe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(0, 0, 0, 0.8);
  padding: 12px 0;
}

#header .logo {
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 100px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  border-color: #fff;
}

.navbar .getstarted:before,
.navbar li:hover>.getstarted:before {
  visibility: hidden;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #f3f3f3;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  color: #eeeff0;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #000000;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

  .navbar a.no-underline:before {
  visibility: hidden;
  width: 0;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #030000;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #555555;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #ffffff;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #000000;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/obrázky/mwm logo.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center; /* Center the text */
}

#hero .container-fluid {
  padding-top: 84px;
}

#hero h1, #hero h2 {
  margin: 0;
  color: #fff;
}

#hero h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0 0 0;
  font-size: 20px;
  /* Adjust this margin to move the text up or down */
  margin-top: 20px; /* Move the text down */
  /* margin-bottom: 20px; Move the text up if needed */
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  border: 2px solid #fff;
}

#hero .btn-get-started:hover {
  background: #fff;
  color: #000000;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1200px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
    background-attachment: scroll;
  }

  #hero .container-fluid {
    padding-top: 68px;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero {
    height: auto;
    text-align: center;
    background-attachment: scroll;
  }

  #hero h1 {
    font-size: 26px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px; /* Adjust for mobile */
  }

  #hero .hero-img img {
    width: 60%;
  }
}

@media (max-width: 575px) {
  #hero {
    height: auto;
  }

  #hero .hero-img img {
    width: 80%;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 100px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f9f8ff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #888888;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  padding: 120px 0;
}

.about .content h3 {
  font-weight: 600;
  font-size: 32px;
  color: #000000;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #000000;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .read-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 50px 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: #202020;
  position: relative;
}

.about .content .read-more:hover {
  background:rgb(0, 0, 0);
}

.about .content .read-more i {
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 12px;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: linear-gradient(240deg, #000000 0%, rgba(255, 255, 255, 0.5) 200%);
  padding: 80px 0 60px 0;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #000000;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.services .iconbox-blue i {
  color: #000000;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #db6464;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox-red i {
  color: #ff5828;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

.healthicons--baby-0203m-outline {
  display: inline-block;
  width: 100px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath fill='%23fff700' fill-rule='evenodd' d='M24 17a5.5 5.5 0 1 0 0-11a5.5 5.5 0 0 0 0 11m0-2a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7m-6 13.94q0 .184.033.393C16.18 30.923 15 33.253 15 35.857c0 .957.19 2.389.737 3.62c.541 1.22 1.583 2.523 3.375 2.523c1.745 0 3.222-1.373 3.222-3.143c0-.753-.303-1.403-.508-1.844l-.03-.064c-.235-.51-.351-.798-.351-1.092c0-.289.166-.771.526-1.324c.21-.32.448-.608.674-.835c.469.181.93.302 1.355.302c.427 0 .887-.12 1.356-.302c.226.227.464.514.674.835c.36.553.526 1.035.526 1.324c0 .286-.116.58-.354 1.1l-.03.067c-.204.442-.505 1.096-.505 1.833c0 1.77 1.477 3.143 3.222 3.143c1.787 0 2.818-1.389 3.35-2.59c.55-1.239.762-2.666.762-3.553c0-2.604-1.18-4.933-3.033-6.524q.032-.208.032-.393v-5.139q.595-.117 1.207-.255a58 58 0 0 0 2.589-.653a3 3 0 1 0-1.59-5.786c-3.365.925-5.82 1.317-8.193 1.307c-2.384-.01-4.85-.426-8.253-1.316a3 3 0 0 0-1.519 5.804c1.323.346 2.565.64 3.76.873zm15.028-7.91l.238-.066a1 1 0 0 0-.53-1.928c-3.465.952-6.112 1.39-8.731 1.378c-2.623-.01-5.274-.472-8.751-1.381a1 1 0 0 0-.507 1.934c1.598.419 3.05.75 4.426.991a1 1 0 0 1 .828.985V26h8v-3.03a1 1 0 0 1 .828-.985a47 47 0 0 0 4.2-.956M17.001 35.856c0-1.766.71-3.38 1.885-4.584a5.05 5.05 0 0 0 1.865 1.544q-.244.302-.454.623c-.442.676-.852 1.554-.852 2.417c0 .776.307 1.436.515 1.886l.022.047c.24.519.352.793.352 1.067c0 .597-.513 1.143-1.222 1.143c-.621 0-1.136-.41-1.547-1.335c-.405-.91-.565-2.05-.565-2.808m10.703-2.417a8 8 0 0 0-.454-.623a5.05 5.05 0 0 0 1.865-1.544C30.289 32.477 31 34.09 31 35.856c0 .652-.17 1.796-.59 2.743c-.438.986-.963 1.4-1.522 1.4c-.71 0-1.222-.546-1.222-1.143c0-.261.111-.538.354-1.069l.022-.047c.207-.453.513-1.12.513-1.884c0-.863-.41-1.741-.852-2.417m-1.56-2.087c1.4-.533 1.856-1.644 1.856-2.077V27.95h-8v1.326c0 .433.456 1.544 1.857 2.077c.16.06.34.137.502.206l.095.04c.199.084.391.163.586.234c.406.147.723.217.96.217s.554-.07.96-.217c.195-.07.387-.15.586-.234l.095-.04m.503-.206c-.16.06-.34.137-.503.206z' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}

.healthicons--girl-0105y-outline {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath fill='%238d992e' fill-rule='evenodd' d='M32.702 17.78a3 3 0 1 1 1.596 5.784a55 55 0 0 1-4.14.989c.586 1.484 1.43 3.158 2.033 4.294c.64 1.206-.076 2.743-1.482 2.942c-5.155.731-8.766.711-14.333-.01c-1.44-.185-2.173-1.77-1.498-2.992c.652-1.18 1.543-2.906 2.103-4.436a69 69 0 0 1-3.244-.778a3 3 0 1 1 1.526-5.803c3.597.946 6.215 1.39 8.75 1.402c2.524.01 5.13-.41 8.689-1.392m1.762 2.626a1 1 0 0 0-1.23-.698c-3.66 1.01-6.459 1.476-9.23 1.464c-2.775-.012-5.577-.502-9.25-1.467a1 1 0 1 0-.508 1.934c1.51.397 2.897.721 4.213.967l1.063.199l-.281 1.044c-.535 1.985-1.811 4.457-2.612 5.906l-.004.009v.006a.05.05 0 0 0 .008.027c5.409.699 8.836.715 13.791.013l.004-.015v-.003l-.004-.007c-.753-1.42-1.968-3.834-2.56-5.708l-.347-1.103l1.141-.185c1.579-.256 3.249-.64 5.108-1.153a1 1 0 0 0 .698-1.23M24 15a2 2 0 1 0 0-4a2 2 0 0 0 0 4m0 2a4 4 0 1 0 0-8a4 4 0 0 0 0 8m-5 16.014V36.5a1.5 1.5 0 0 0 2.948.391l.94-3.483A39 39 0 0 1 19 33.014m7.11.387l.942 3.49a1.5 1.5 0 0 0 2.948-.39V33a41 41 0 0 1-3.89.401' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}

.healthicons--male-and-female-outline {
  display: inline-block;
  width: 384px;
  height: 384px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath fill='%23353805' fill-rule='evenodd' d='M14.5 14a4 4 0 1 0 0-8a4 4 0 0 0 0 8m0-2a2 2 0 1 0 0-4a2 2 0 0 0 0 4m-5.13 4.842c.992-.597 2.085-.842 3.176-.842h3.908c1.09 0 2.184.245 3.176.841c.989.595 1.699 1.433 2.191 2.343c.93 1.717 1.179 3.864 1.179 5.96v.088q0 .045-.004.089l-.008.088v.013l-.002.044q-.003.057-.003.157c-.002.136-.001.325.002.583q0 .173.004.372v.004c.005.407.011.893.011 1.418a3 3 0 0 1-3.5 2.958V39.5a2.5 2.5 0 0 1-4.982.298l-.018-.148l-.018.148A2.5 2.5 0 0 1 9.5 39.5v-8.542Q9.255 31 9 31a3 3 0 0 1-3-3c0-.526.006-1.012.011-1.42v-.001l.004-.373a31 31 0 0 0 0-.74l-.002-.044l-.001-.013l-.008-.088L6 25.232v-.088c0-2.096.25-4.243 1.179-5.96c.492-.91 1.202-1.748 2.191-2.343M20 29a1 1 0 0 1-.5-.133V23h-2v16.5a.5.5 0 0 1-.996.06l-1.011-8.423a1 1 0 0 0-1.986 0l-1.01 8.423a.5.5 0 0 1-.997-.06V23h-2v5.867A1 1 0 0 1 8 28c0-.512.006-.989.01-1.398q.004-.199.005-.375c.006-.503.004-.826-.011-.995L8 25.188v-.044c0-1.996.25-3.736.938-5.008c.353-.654.832-1.201 1.463-1.58c.631-.38 1.356-.556 2.145-.556h3.908c.789 0 1.514.176 2.145.555c.63.38 1.11.927 1.463 1.58c.689 1.273.938 3.013.938 5.008v.045l-.004.044c-.015.17-.016.492-.011.995q0 .173.004.371v.005c.005.409.011.884.011 1.397a1 1 0 0 1-1 1m18-19a4 4 0 1 1-8 0a4 4 0 0 1 8 0m-2 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0m1.446 6.444A4.35 4.35 0 0 0 35.48 16h-3.96c-.43 0-1.18.048-1.967.444c-1.33.67-2.09 1.767-2.541 2.736c-.432.928-.68 1.954-.865 2.808c-.175.811-.18.832-.28 1.345c-.095.49-.281 1.45-.809 4.077a3 3 0 0 0 3.122 3.585l-.539 3.1c-.15.86.284 1.797 1.21 2.127c.907.324 2.552.778 4.648.778s3.74-.454 4.648-.778c.926-.33 1.359-1.268 1.21-2.126l-.54-3.1a3.005 3.005 0 0 0 3.123-3.587c-.528-2.627-.714-3.587-.81-4.077c-.1-.512-.103-.533-.279-1.344c-.184-.854-.433-1.88-.864-2.808c-.452-.969-1.211-2.066-2.542-2.736M34.998 18h.48c.285 0 .68.034 1.069.23c.793.4 1.29 1.07 1.627 1.794c.33.71.542 1.547.723 2.387c.173.797.175.81.269 1.291l.002.012c.096.495.284 1.457.812 4.09a1 1 0 0 1-1.489 1.057l-1.186-6.524l-1.968.358l.626 3.44l-.024-.026l1.437 8.264A12 12 0 0 1 33.5 35c-1.733 0-3.103-.36-3.876-.627l1.437-8.26l-.025.027l.627-3.445l-1.968-.358l-1.186 6.525a1 1 0 0 1-1.489-1.058c.528-2.633.716-3.595.812-4.09l.002-.011c.094-.483.096-.495.269-1.292c.181-.84.393-1.677.723-2.387c.337-.724.834-1.395 1.627-1.794a2.36 2.36 0 0 1 1.069-.23z' clip-rule='evenodd'/%3E%3Cpath fill='%23353805' d='M30.285 41.913A1.5 1.5 0 0 1 29 40.43V38c1.305.18 2.507.29 3.682.335l-.744 2.518a1.5 1.5 0 0 1-1.653 1.06m3.98-3.559l.806 2.53A1.5 1.5 0 0 0 38 40.428v-2.336a35 35 0 0 1-3.735.262'/%3E%3C/g%3E%3C/svg%3E");
}

.healthicons--elderly {
  display: inline-block;
  width: 384px;
  height: 384px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath fill='black' d='M18 15a4 4 0 1 0 0-8a4 4 0 0 0 0 8m-5.484 5.935A9 9 0 0 1 13 20.4V38a2 2 0 0 0 3.988.22L17.79 31h.42l.802 7.22A2 2 0 0 0 23 38V24.36c.15-.796.711-1.949 1.596-3.032c.793.975 1.326 2.006 1.532 2.784c-.021 1.651-1.35 7.83-1.896 10.309a.986.986 0 0 0 .825 1.194c3.693.507 6.884.506 10.546.04c.683-.087 1.082-.844.834-1.487c-.737-1.913-1.937-5.886-1.937-11.49v-2.926c.39.3.8.694 1.208 1.183c1.057 1.267 1.713 2.718 1.799 3.62a1.5 1.5 0 0 0 2.986-.285c-.163-1.716-1.2-3.721-2.481-5.256C36.768 17.522 34.893 16 32.79 16h-4.628c-1.283 0-2.501.515-3.562 1.248C23.543 16.515 22.328 16 21.048 16h-5.614c-2.103 0-3.977 1.522-5.222 3.014c-1.28 1.535-2.318 3.54-2.481 5.256a1.5 1.5 0 0 0 2.986.285c.086-.902.742-2.353 1.8-3.62'/%3E%3Cpath fill='black' d='M6 28.5a2.5 2.5 0 0 1 5 0V39a1 1 0 1 1-2 0V28.5a.5.5 0 0 0-1 0v1.013a1 1 0 1 1-2 0zM30.5 15a4 4 0 1 0 0-8a4 4 0 0 0 0 8m9 11a2.5 2.5 0 0 0-2.5 2.5v1.013a1 1 0 1 0 2 0V28.5a.5.5 0 0 1 1 0V39a1 1 0 1 0 2 0V28.5a2.5 2.5 0 0 0-2.5-2.5m-14 13.388v-2.236a36 36 0 0 0 3.588.282l-.64 2.348a1.5 1.5 0 0 1-2.948-.394m7.053.394l-.654-2.397A42 42 0 0 0 35.5 37v2.388a1.5 1.5 0 0 1-2.947.394'/%3E%3C/g%3E%3C/svg%3E");
}
/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .icon-box i {
  font-size: 48px;
  float: left;
  color: #000000;
}

.features .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100%;
  height: auto;
  border-radius: 0; /* Odstranění kulatého rámečku */
  margin: 0;
  position: relative;
  z-index: 2;
  border: none; /* Odstranění rámečku */
  box-shadow: none; /* Odstranění stínu */
}

.testimonials .testimonial-item h3,
.testimonials .testimonial-item h4,
.testimonials .testimonial-item p,
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  display: none; /* Skrytí textu a ikon */
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #000000;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #000000;
}

@media (max-width: 767px) {
  .testimonials {
    margin: 30px 10px;
  }
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #5846f9;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(88, 70, 249, 0.8);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
  top: calc(50% - 48px);
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: calc(50% - 50px);
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #5846f9;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5846f9;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(44, 73, 100, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #2c4964;
  background: #f8f8f8;
}

.pricing h4 {
  font-size: 36px;
  color: #5846f9;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing ul li {
  padding-bottom: 16px;
}

.pricing ul i {
  color: #5846f9;
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: linear-gradient(42deg, #5846f9 0%, #7b27d8 100%);
  display: inline-block;
  padding: 10px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: linear-gradient(180deg, #5846f9 0%, #7b27d8 100%);
}

.pricing .featured h3 {
  color: #fff;
  background: #5846f9;
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #5846f9;
  color: #fff;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  background: linear-gradient(42deg, #000000 40%, rgba(255, 255, 255, 0.514) 100%);
  background-position: cover;
}

.faq .section-title h2,
.faq .section-title p {
  color: #fff;
}

.faq .section-title h2::after {
  background: rgba(255, 255, 255, 0.6);
}

.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li+li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
  color: #000000; /* Přidáno, aby se text po rozbalení nezměnil */
}

.faq .faq-list a:hover {
  color: rgb(0, 0, 0); /* Přidáno, aby text změnil barvu při hoveru */
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: rgb(0, 0, 0);
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #000000;
}

.faq .faq-list a.collapsed:hover {
  color: rgb(83, 83, 83);
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

.faq .faq-list a.active, /* Přidáno pro aktivní (rozbalené) odkazy */
.faq .faq-list a.active:hover { /* Přidáno pro aktivní (rozbalené) odkazy při hoveru */
  color: rgb(255, 215, 0);
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box { 
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}

.contact .info-box i {
  font-size: 32px;
  color: #000000;
  border-radius: 50%;
  padding: 8px;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 5px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #5846f9;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #5846f9;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #7b27d8;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.iframe-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.iframe-wrapper {
  width: 100%;
  max-width: 1200px; /* Maximální šířka pro velké obrazovky */
  height: 0;
  padding-bottom: 56.25%; /* Poměr stran 16:9 */
  position: relative;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f2f6f9;
  min-height: 40px;
  margin-top: 85px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 56px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin: 0;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #3c6387;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #535252;
  font-size: 15px;
  background: white;
  background-size: relative;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  position: relative;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: underline;
  color: #fff;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid white;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: rgba(123, 39, 216, 0.8);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #5846f9;
}

#footer .copyright-wrap {
  border-top: 5px solid #616161;
 
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #fff;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
}